/* The following code was adapted from
 * code provided by w3docs: 
 * https://www.w3docs.com/tools/code-editor/4132
 */

 .images {
    text-align: center;
}

.images img {
    width: 237px;
    height: 237px;
    object-fit: cover;
    display: inline-block;
}

.seasonHeader {
    position: relative;
    padding: 0;
    width: 237px;     
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.overlay {
    opacity: 0;
    font-size: 40px;
    font-family: 'Cabin', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    color:#FFFFFF;
    background-color:rgba(200,200,200,0.5);
    width: 237px;
    height: 237px;
    transition: all 400ms ease-out;
    text-align: center;
}

.seasonHeader .overlay:hover {
    opacity: 1;
}

.seasonHeader .overlay .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.seasonHeader .overlay:hover .text {
    opacity: 1;
    transform: translateY(90px);
}

/* End code adaptation from w3docs */

.seasonContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 0px 20px;
    margin: 30px 0px;
}

h2 {
    padding: 10px;
    color: white;
    margin: 0;
}

.spring h2, .fall h2 {
    background-color: #551724;
}

.summer h2, .winter h2 {
    background-color: #4B4A2C;
}

.actImg {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

#fish, #falltrees {
    grid-row: 1 / 4;
}

#wakeboard, #hockey {
    grid-column-start: 2;
    grid-row: 1 / 4;
}

  /* --------RESPONSIVE DESIGN-------- */
  
  @media (max-width: 1080px) {
    .seasonContent {
        display: flex;
        flex-direction: column;
    }

    .seasonContent > img {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .images {
        display: none;
    }
}