#old-cabin-photo {
  width: 960px;
  height: 400px;
  object-fit: cover;
}

/* Caption overlay code adapted from W3Schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4B4A2C;
}

.img-container:hover .overlay {
  opacity: .80;
}

.caption {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 20pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.new-cabin-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-cabin-photo {
  width: 465px;
  height: 300px;
  object-fit: cover;
}

/* Timeline code adapted from Script Tutorials
 https://www.script-tutorials.com/vertical-timeline-with-css-and-javascript/ */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background: rgb(190, 190, 158);
  left: 50%;
  margin-left: -2px;
}
  
.cd-container {
  max-width: 1170px;
  margin: 0 auto;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}
  .cd-timeline-block {
  position: relative;
  margin: 4em 0;
}

.cd-timeline-content {
  margin-left: 0;
  width: 42%;
  position: relative;
  background: white;
  border-radius: 0.25em;
  border: 2px solid rgb(190, 190, 158);
  padding: 1em;
  box-shadow: 0 3px 0 #95966E;
}
  
.cd-timeline-block:nth-child(even) .cd-timeline-content {
  float: right;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-img {
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  transform: translateZ(0);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #472f17;
}

.cd-timeline-img img,.cd-timeline-img svg {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -17px;
}

/* --------RESPONSIVE DESIGN-------- */

@media (max-width: 1080px) {
  #old-cabin-photo, .new-cabin-photo {
    width: 100%;
  }

.new-cabin-photo-container {
    display: flex;
    flex-direction: column;
  }

  #boathouse-photo {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
    .cd-timeline-img {
      display: none;
    }

    .cd-timeline-content {
      width: 100%;
    }
}
