/* --------CAROUSEL-------- */

.item {
    width: 700px; 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item > img {
    object-fit: cover;
    height: 500px;
    width: 700px;
}

#myCarousel {
    margin-bottom: 30px;
}

/* --------ABOUT CABIN/OWNER-------- */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

#aboutCabinContainer {
    margin-top: 10px;
}

#aboutCabinHeading {
    margin-top: 60px;
}

.about-block {
    width: 470px;
}

#cabinVideoContainer {
    margin-top: 60px;
    text-align: right;
    margin-bottom: 30px;
}

#cabinVid {
    width: 960px;
    object-fit: cover;
}

#aboutImageContainer {
    text-align: left;
    margin-top: 20px;
}

#aboutImg {
    width: 470px;
    height: auto;
}

.bold {
    font-weight: bold;
}

/* --------RESPONSIVE DESIGN-------- */

@media (min-width: 701px) and (max-width: 1080px) {
    .carousel-container {
        width: 100%;
    }

    .about-block {
        width: 100%;
    }

    #cabinVid {
        width: 100%;
    }

    #aboutImg {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }
}

@media (max-width: 700px) {
    .about-container {
        flex-direction: column;
    }

    #aboutImageContainer {
        text-align: center;
    }

    #aboutImg, #cabinVid, .about-block {
        width: 100%;
    }

    #aboutImg {
        height: 350px;
        object-fit: cover;
        object-position: top;
    }
}
