.memory-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.memory-unit {
    width: 300px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.memory-unit:nth-child(odd) {
    border: 5px solid #95966E;
}

.memory-unit:nth-child(even) {
    border: 5px solid #8E7264;
}

.memory-img-container {
    text-align: center;
}

.memory-img-container img {
    object-fit: cover;
    width: 290px;
    height: 230px;
}

.caption {
    padding: 15px 10px 10px 10px;
}

.caption-author {
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    font-size: 12pt;
}

/* Let memory-units' margin-bottom take care of margin between last units and footer */
.middleFoot {
    margin-top: 0;
}

@media (max-width: 874px) {
    .memory-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .memory-unit {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .memory-img-container img {
        width: 100%;
        height: auto;
    }
}
