body {
    font-family: sans-serif;
}

h1, h2 {
    font-family: 'Cabin', sans-serif;
}

.prompt {
    font-weight: bold;
}
.answer {
    color: black;
}

.report-list li {
    padding: 5px 0px;
}

.critique-heading {
    font-weight: bold;
}

.critique-list-outer > li {
    margin: 10px;
}
