.seasonContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 50px;
}

#spring {
    background-color: lighten(#AF9193);
}

#summer {
    background-color: lighten(#95966E);
}

#fall {
    background-color: lighten(#8E7264);
}

#winter {
    background-color: lighten(#95966E);
}

.seasonContent > p {
    padding: 10px;
}