.seasonContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 50px;
}

#spring {
    background-color: #AF9193;
}

#summer {
    background-color: #95966E;
}

#fall {
    background-color: #8E7264;
}

#winter {
    background-color: #95966E;
}