.seasonContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 50px;
    border-radius: 5px;
}

.spring {
    background-color: #AF9193;
    padding: 10px;
}

.summer {
    background-color: #95966E;
    padding: 10px;
}

.fall {
    background-color: #8E7264;
    padding: 10px;
}

.winter {
    background-color: #95966E;
    padding: 10px;
}