/* CONTACT FORM */

.form {
	width: 800px;
    height: 100%;
    display: grid;
	background-color: #ebebeb;
	border-color: #e1e1e1;
	margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formElement {
    padding: 10px;
}

.formHead {
	font-size: 18pt;
	text-align: center;
	padding-top: 15px;
}

.field {
	background-color: #f4f4f0;
	width: 240px;
	height: 35px;
	border-radius: 10px;
}

.boldText {
	font-size: 9pt;
}

::placeholder {
	color: #acacac;
	font-size: 11pt;
	padding-left: 15px;
	overflow: visible;
	opacity: 1; /* Firefox */
}

.subscribe {
	background-color: #551724;
    width: 85%;
    padding: 5px 0px;
	border-radius: 15px;
	color: #f4f4f0;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
}