/* CONTACT FORM */

.form {
	width: 960px;
	/*background-color: #ebebeb;
	border-color: #e1e1e1;*/
	background-color: #ebebeb;
	border: 2px solid #95966E;
	margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-bottom: 10px;
}

.formElement {
    padding: 10px;
}

#message-container, #submit-container {
    grid-column: 1 / span 2;
}

.formHead {
	font-size: 18pt;
	text-align: center;
	padding: 15px 10px 0px 10px;
}

.field {
	background-color: #f4f4f0;
	width: 240px;
	height: 35px;
	border-radius: 10px;
}

.textField {
    background-color: #f4f4f0;
	border-radius: 10px;
}

.boldText {
	font-size: 9pt;
}

.requiredSymbol {
	color: #551724; /*Was #6a1212*/
	font-size: 11pt;
	font-weight: bold;
}

::placeholder {
	color: #acacac;
	font-size: 11pt;
	padding-left: 15px;
	overflow: visible;
	opacity: 1; /* Firefox */
}

#submit-container {
	margin-left: auto;
    margin-right: auto;
}

#submit-button {
    background-color: #551724;
    width: 100%;
    padding: 5px 25px;
	border-radius: 15px;
	color: #f4f4f0;
	font-size: 14pt;
	margin-left: auto;
    margin-right: auto;
}

#submit-button:hover {
	background-color: #4B4A2C;
}

  /* --------RESPONSIVE DESIGN-------- */
  @media (max-width: 1080px) {
	.form {
		width: 100%;
	}
	
	.formGrid {
        display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#message-input {
		width: 240px;
	}
}

/*@media (max-width: 700px) {
	mobile nav stuff to go here
}*/