/* Color Palette
** light pink: #AF9193
** maroon: #551724
** dark green: #4B4A2C
** light green: #95966E
** light brown: #8E7264
*/
body {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    font-family: Arial;
    background-color: #f4f4f0;
    margin-right: 0px;
    margin-left: 0px;
}

.headerBarLeft, .headerBarRight {
    flex-grow: 1;
    /*background-color: #4B4A2C;*/
    height: 55px; /*Is this the best way to align the nav bars?*/
}

.pageContent {
    flex-basis: 960px;
    /*width: 960px;*/
    margin-left: auto;
    margin-right: auto;
}

/* QUESTION: How to get nav li items to justify as
   flex-end but the icon to justify as flex-start*/

nav {
    width: 100%;
    background-color: #4B4A2C;
    /*display: flex;
    flex-direction: row; need this for icon addition?*/
}

#cabinIcon {
    height: 35px;
    /*justify-content: flex-start;*/
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 0;
}

nav ul li {
    padding: 0px 60px; /*was 35px*/
    color: #f4f4f0;
    font-family: Arial;
    font-size: 14pt;
    width: 50px;
}

.navLinks {
    text-decoration: none;
    color: #f4f4f0;
}

.navLinks:hover, .navLinks:focus {
    font-weight: bold;
}

.navLinks:active {
    color: #8E7264;
}

h1 {
    text-align: center;
    font-family: Arial;
}

.item {
    width: 700px; /*Images shrink weirdly because they're different sizes*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    /*border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 80px;*/
}

/*use CSS grid for form element in contact page*/

/* CAROUSEL */


/* CONTACT FORM */

.form {
	width: 50%;
	height: 100%;
	background-color: #ebebeb;
	border-color: #e1e1e1;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formContent {
    margin-left: auto;
    margin-right: auto; /* QUESTION: How to center form content? */
}

.formElement {
    display: inline-block;
    padding: 10px;
}

.formHead {
	font-size: 18pt;
	text-align: center;
	padding-top: 15px;
}

.field {
	background-color: #f4f4f0;
	width: 240px;
	height: 35px;
	border-radius: 10px;
}

.boldText {
	font-size: 9pt;
}

::placeholder {
	color: #acacac;
	font-size: 11pt;
	padding-left: 15px;
	overflow: visible;
	opacity: 1; /* Firefox */
}

.subscribe {
	background-color: #551724;
    width: 85%;
    padding: 5px 0px;
	border-radius: 15px;
	color: #f4f4f0;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
}