/* Color Palette
** light pink: #AF9193
** maroon: #551724
** dark green: #4B4A2C
** light green: #95966E
** light brown: #8E7264
*/

/* --------PAGE LAYOUT-------- */

body {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    font-family: Arial;
    background-color: #f4f4f0;
    margin-right: 0px;
    margin-left: 0px;
}

.leftHeader, .rightHeader {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerBarLeft, .headerBarRight {
    background-color: #4B4A2C;
    height: 36.4px;
}

.headerBarLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.leftFoot, .rightFoot, .middleFoot {
    height: 25px;
    background-color: #551724;
}

.rightFoot {
    text-align: left;
    color: white;
    padding: 5px;
}

.pageContent {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* --------NAVIGATION-------- */

nav {
    background-color: #4B4A2C;
}

#cabinIcon {
    height: 30px;
    margin: 3px 0px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    margin-top: 0;
}

nav ul li {
    padding-left: 30px; /*was 35px*/
    color: #f4f4f0;
    font-family: Arial;
    font-size: 14pt;
    width: 130px;
}

.navLinks {
    text-decoration: none;
    color: #f4f4f0;
}

.navLinks:hover, .navLinks:focus {
    font-weight: bold;
    color: #f4f4f0;
    text-decoration: none;
}

.navLinks:active {
    color: #8E7264;
}

/* --------PAGE STYLING-------- */

h1 {
    text-align: center;
    font-family: Arial;
    margin-bottom: 30px;
}

/* --------CAROUSEL-------- */

.container {
    width: 960px;
    margin-bottom: 30px;
    padding: 0;
}

.item {
    width: 700px; 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 80px;*/
}

.item > img {
    object-fit: cover;
    height: 500px;
    width: 700px;
}

/* --------ABOUT OWNER-------- */

.aboutOwner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.about {
    flex: 50%;
}

#abtImage {
    text-align: right;
}

#aboutImg {
    width: 400px;
}

.bold {
    font-weight: bold;
}

